openapi: 3.0.0
info:
  title: My Backend API
  version: 1.0.0
servers:
  - url: https://localhost:5000
paths:
  /auth/login:
    post:
      summary: Login user
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginDto'
      responses:
        200:
          description: Logged in
components:
  schemas:
    LoginDto:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
